body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.section {
  height: 700px;
  overflow: hidden;
}
#section_1 {
  background-image: url(images/header-bg.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section_1 img {
  width: 80%;
}
#section_1 h1 {
  font-size: 50px;
  font-weight: 700;
}
#section_1 h2 {
  font-size: 30px;
  font-weight: 600;
}
#section_1 p {
  padding-bottom: 30px;
}

#section_2 {
  background-image: url(images/biography-bg.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_2 img {
  width: 65%;
}
#section_2 h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
#section_2 p {
  margin-top: 20px;
  padding-bottom: 10px;
}
#section_3 h1 {
  text-align: center;
}
#section_3 img {
  margin: 5px;
}
.footer {
  display: flex;
  height: 500px;
  background-image: url(images/footer-bg.png);
  background-position: center;
  justify-content: center;
  align-items: center;
}
.footer_text {
  width: 50%;
}
.latest_work {
  height: 500px;
  background-image: url(images/latest-work-bg.png);
  background-position: center;

  overflow: hidden;
}
.float-image {
  float: left;
  margin-left: 250px;
  box-sizing: border-box; /* Ensures any padding or border is included in the width */
}

span {
  color: rgb(237, 0, 118);
}
.width-half {
  margin-top: 150px;

  width: 40%;
  float: left;
  margin-left: 10px;
  padding: 2px;
}
a {
  text-decoration: none;
  background: rgb(237, 0, 118);
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 0;
}
